@import '~antd/dist/antd.css';
@import './dashboard';
@import './devManage';
@import './login';
@import './devAlarm.scss';
@import './infoAsyDetails.scss';
@import './InfoAsyAdd.scss';
@import './journalManage.scss';
@import './detection.scss';
@import './infoAsy.scss';
@import './NasaDisplay.ttf';

$fullHeight: 100vh;
$headerHight: 100px;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  height: 100vh;
}

// 公共头部样式
.dashboard-container-header {
  height: 100px;
  width: 100%;
  background: url(../assets/images/dashboard/dashboard-header-bg.png);
  background-size: 100% 100%;
  .head-date {
      line-height: 38px;
      display: inline-block;
      margin-left: 55px;
      color: #fff;
      p {
          margin: 0;
          display: inline-block;
          line-height: 38px;
          font-size: 14px;
      }
  }
  .head-title {
      display: inline-block;
      width: 416px;
      position: absolute;
      left: 50%;
      margin-left: -218px;
      text-align: center;
      letter-spacing: 2px;
      line-height:80px;
      font-size:17px;
      font-family:Source Han Sans CN;
      font-weight:400;
      color:rgba(255,255,255,1);
      h1 {
          color: #fff;
          font-family: fontNameRegular;
      }
  }
  .head-container-tools {
      display: inline-block;
      position: absolute;
      top: 8px;
      right: 40px;
      color: #fff;
      font-size: 14px;
      .item {
          cursor: pointer;
          display: flex;
          img {
              margin-right: 12px;
              width: 18px;
              height: 18px;
          }
          i {
              margin-right: 10px;
              font-size: 18px;
              vertical-align: bottom;
          }
      }
  }
}
/* 公共模板 */
.layout-container {
  height: 100vh;
	background: url(../assets/images/login/bg.png);
  background-size: 100% 100%;
  .layout-container-content {
    padding: 0 22px 24px 22px;
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 100px);
  }
} 

/* 设备管理index tab样式 */
.footer{
  width: 100%;
  height: calc(#{$fullHeight} - #{$headerHight});
  position: relative;
  padding: 32px 27px;
  .tabInfo{
    position: absolute;
    top:-40px;
    left:42px;
    p{
      color: #fff;
      font-size: 14px;
      margin-bottom: 1.3em;
    }
    .tab {
      display: flex;
      div{
        width: 118px;
        height: 33px;
        font-size: 16px;
        text-align: center;
        line-height: 33px;
        background: url(../assets/images/devManager/tab.png);
        background-size: 100% 100%;
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
}
// 自定义 antd select 样式
.ant-select-dropdown{
  background: rgba(7,166,255,0.3) !important;
}
.ant-select-dropdown-menu,
.ant-dropdown-menu {
// background: rgba(7,166,255,0.3);
border: 1px solid #02439d;
}
.ant-select-dropdown-menu-item {
color: #fff;
font-weight: 600;
}
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-item:hover a {
// background-color: #183970 !important;
color: #0393FF;
font-weight: bolder;
}

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
background-color: rgba(3,45,121,0.2) !important;
color: #0393FF;
}
.ant-select-dropdown-menu-item:hover {
color: #0393FF;
background-color: rgba(3,45,121,0.2) !important;
}
.ant-select-dropdown-menu-item-selected {
background-color: rgba(3,45,121,0.2) !important;
}
.ant-dropdown-menu-item {
color: #fff;
font-weight: bolder;
}
.ant-dropdown-menu-item > a, .ant-dropdown-menu-submenu-title > a {
color: #fff;
font-weight: bolder;
}
.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
padding: 5px 15px;
text-align: center;
font-size: 12px;
}

// table表格样式修改
.ant-table-thead tr th{
  background:rgba(7,166,255,0.3);
  color: #00D8FF;
  text-align: center;
  border:1px solid rgba(7, 166, 255, 0.76);
  border-right: 1px solid rgba(255,255,255,0.1);
  border-left: none;
}
.ant-table-thead > tr:first-child > th:last-child{
  border-right:1px solid rgba(255,255,255,0.1);//rgba(7, 166, 255, 0.76);
}
.ant-table-thead > tr:first-child > th:first-child{
  border-left:1px solid rgba(255,255,255,0.1);//rgba(7, 166, 255, 0.76);
}
.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td{
  background-color: #07629F !important;
  color: #00D8FF;
}
.ant-table-tbody > tr > td span a{
  color: #fff;
}
.ant-table-tbody tr:nth-child(2n+1){
  background: rgba(9,48,96,0.3);
}
.ant-table-tbody tr:nth-child(2n){
  background: rgba(24,57,112,0.3);
}  
.ant-table-tbody > tr > td{
  border-bottom: 1px solid rgba(255,255,255,0.1);;
  border-right: 1px solid rgba(255,255,255,0.1);//#6076AD;
  color: #fff;
  text-align: center;
  span a{
    width:32%;
    margin-right: 3%;
  }
}
.ant-table-tbody > tr > td:first-child{
  border-left: 1px solid rgba(255,255,255,0.1);//#6076AD;
}
.ant-table-wrapper{
  height: calc(#{$fullHeight} - #{292px});
}
.ant-table-pagination.ant-pagination{
  position: fixed;
  bottom: 50px;
  right: 58px;
}
// 分页
.ant-table-pagination .ant-pagination li a {
  background: transparent;
  color: #fff;
  border-color: #1890ff;
}
.ant-pagination {
  li {
    border: none;
    background: #05254B;
    border-radius: 3px;
    a {
      background: #05254B;
      border-radius: 3px;
      color: #8489A8;
      border-color: none;
    }
  }
}

.ant-pagination-disabled a, .ant-pagination-disabled:hover a, .ant-pagination-disabled:focus a, .ant-pagination-disabled .ant-pagination-item-link, .ant-pagination-disabled:hover .ant-pagination-item-link, .ant-pagination-disabled:focus .ant-pagination-item-link {
  color: #8489A8;
  // background: #05254B;
  background: url(../assets/images/pagination-bg.png);
  border-color: none !important;
}
.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
  color: #8489A8;
  // background: #05254B;
  background: url(../assets/images/pagination-bg.png);
  border-color: none !important;
}
.ant-pagination-item-link {
  border: none !important;
  background: url(../assets/images/pagination-bg.png);
  background-size: 100% 100%;
  
}
.ant-pagination-item-active{
  background-color: rgba(3,45,121,0.5) !important;
  background: url(../assets/images/pagination-active.png);
  border-color: none !important;
}

// 滚动条
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb {
  border: 0px solid transparent;
}
*::-webkit-scrollbar-track {
  background-color: #052f60;
}
*::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #135290;
}
*::-webkit-scrollbar-corner {
  background: transparent;
}

// 自定义 antd select 样式
.ant-dropdown .ant-select-dropdown-menu,
.ant-dropdown .ant-dropdown-menu  {
  border: none;
  background: url(../assets/images/headerSelect-bg.png);
  background-size: 100% 100%;
  left: -20px !important;
  top: 5px;
}
.ant-select-dropdown-menu-item {
  color: #fff;
  font-weight: 600;
}
.ant-dropdown-menu-item span {
  padding: 6px 20px;
}
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-item:hover a {
  background-color: transparent;
  color: #0393FF;
  font-weight: bolder;
}

//日历
.ant-calendar-picker-clear{
  background: transparent !important;
}
.ant-calendar-picker-clear:hover{
  color: rgb(0,0,0) !important;
}
.ant-calendar{
  width: 248px !important;
}
.dev-search-select .ant-calendar-picker .anticon svg{
  
}