@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  height: 100vh;
}
// login
@mixin login-common {
  width: 100%;
  background-size: 100% 100%;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  border: none;
}
.login-container {
	height: 100vh;
	display: flex;
	align-items: center;
  justify-content: center;
  background: url(../assets/images/login/bg.png);
    &-form {
    text-align: center;
    width: 900px;
    height: 527px;
    background: url(../assets/images/login/bg2.png);
    background-size: 100% 100%;
    h2 {
      position: relative;
      font-size:42px;
      font-family:SimHei;
      font-weight:bold;
      color:rgba(255,255,255,1);
      line-height:80px;
      bottom: 40px;
    }
    .ant-form {
      width: 296px;
      padding-top: 32px;
      margin: auto;
      &-item {
        height: 72px;
        margin-bottom: 0;
      }
      .user {
        background: url(../assets/images/login/user.png);
      }
      .pwd {
        background: url(../assets/images/login/pwd.png);
      }
      .anticon {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-size: 100% 100%;
        margin: 0 5px;
      }
    }
    .login-form-button {
      background: url(../assets/images/login/login.png);
      @include login-common();
      margin-top: 5px;
      span {
        color: #144B85;
        font-size: 16px;
      }
    }
    .ant-input {
      background: url(../assets/images/login/inputBg.png);
      @include login-common();
      text-indent: 8px;
      caret-color:#fff;
      color: #fff;
    }
  }
  .has-error .ant-input-affix-wrapper .ant-input, .has-error .ant-input-affix-wrapper .ant-input:hover{
    background: url(../assets/images/login/inputBg.png);
    @include login-common();
  }
  .has-error .ant-form-explain, .has-error .ant-form-split{
    text-align: left;
    text-indent: 12px;
  }
}