
// 日志管理
.devicelog-container {
    width: 100%;
    height: 100%;
    background: url(../assets/images/content-bg.png);
    background-size: 100% 100%;
    padding: 24px 22px;
    &-top {
        width: 100%;
        display: flex;
        padding: 10px 180px 50px;
        &-box {
            width: 33.33%;
            height: 120px;
            p {
                color: #fff;
                line-height: 45px;
                text-align: center;
            }
            &-textBox {
                width: 300px;
                height: 60px;
                background: url(../assets/images/Statistics-bg.png);
                background-size: 100% 100%;
                margin: 0 auto;
                display: flex;
                align-items:center;
                justify-content:center;
                span {
                    font-size:26px;
                    font-family:Nasa Display;
                    font-weight:400;
                    color:rgba(238,171,83,1);
                }
            }
        }
    }
    &-bottom {
        padding: 0 50px;
        .details {
            width: 100%;
            height: 480px;
            overflow: auto;
            &-box {
                margin-left: 100px;
                width: calc(100% - 100px);
                border-left: 1px solid #032555;
                position: relative;
                &:before {
                    content: '';
                    width: 2px;
                    height: 20px;
                    display: inline-block;
                    background: #000E34;
                    position: absolute;
                    left: -1px;
                    top: 0;
                }
                &-textBox {
                    position: relative;
                    .textBox-right {
                        background: url(../assets/images/details-box-bg.png);
                        background-size: 100% 100%;
                        padding: 12px 20px;
                        color: #fff;
                        margin-left: 15px;
                        margin-bottom: 20px;
                    }
                    .textBox-left {
                        position: absolute;
                        top: 0px;
                        left: -86px;
                        padding: 12px;
                        text-align: right;
                        p {
                            margin: 0;
                            color:rgba(13,167,227,0.8);
                            font-size: 12px;
                        }
                        span {
                            color: #fff;
                            font-size: 13px;
                        }
                    }
                    .textBox-left:before {
                        content: '';
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: #0DA7E3;
                        display: inline-block;
                        position: absolute;
                        right: -4px;
                        top: 18px;
                    }
                }
            }
        }
    }
}